<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!-- <mapper namespace="com.my.app.mapper.BoardMapper"> -->
<mapper namespace="board">
    <select id="selectStudentList" resultType="hashmap">
	    SELECT student_id, student_nm, email
	      FROM student
	     WHERE 1 = 1
	       AND STUDENT_ID = #{STUDENT_ID}
	 </select>
	 
	 <select id="selectEnrolmentList" resultType="hashmap">
        SELECT E.ENROLMENT_ID
		       ,S.STUDENT_NM
		       ,P.PROFESSOR_NM
		       ,SJ.SUBJECT_CD
		       ,SJ.SUBJECT_NM
		       ,SJ.SUBJECT_LIMIT
		  FROM ENROLMENT E
		       ,STUDENT S
		       ,PROFESSOR_SUBJECT PS
		       ,PROFESSOR P
		       ,SUBJECT SJ
		WHERE 1 = 1
		  AND E.STUDENT_ID = S.STUDENT_ID
		  AND E.PS_ID = PS.PS_ID
		  AND PS.PROFESSOR_ID = P.PROFESSOR_ID
		  AND PS.SUBJECT_CD = SJ.SUBJECT_CD
         <if test="STUDENT_ID != null and STUDENT_ID != ''">
          AND S.STUDENT_ID = #{STUDENT_ID}
         </if>
     </select>
     
     <select id="selectLectureList" resultType="hashmap">
        SELECT P.PROFESSOR_NM
               ,SJ.SUBJECT_CD
               ,SJ.SUBJECT_NM
               ,SJ.SUBJECT_LIMIT
               ,S_SJT.DOW_P
               ,PS.PS_ID
          FROM  PROFESSOR_SUBJECT PS
               ,PROFESSOR P
               ,SUBJECT SJ
           ,(
           SELECT SSJT.SUBJECT_CD, 
                  LISTAGG(SSJT.DOW || SSJT.PERIOD, ',') WITHIN GROUP(ORDER BY SSJT.SUBJECT_CD) AS DOW_P
            FROM SUBJECT_TIME SSJT
           GROUP BY SSJT.SUBJECT_CD
           ) S_SJT
        WHERE 1 = 1
          AND PS.PROFESSOR_ID = P.PROFESSOR_ID
          AND PS.SUBJECT_CD = SJ.SUBJECT_CD
          AND SJ.SUBJECT_CD = S_SJT.SUBJECT_CD
     </select>
     
     <insert id="insertEnrolment">
        INSERT
		INTO enrolment
		  (
		    enrolment_id,
		    student_id,
		    ps_id
		  )
		  VALUES
		  (
		    enrolment_seq.nextval,
		    #{STUDENT_ID},
		    #{PS_ID}
		  )
     </insert>
</mapper>